MarkupSafe
aiofiles
aiogram
aiohttp
aiosignal
annotated
attrs
certifi
charset-normalizer
colorama
filelock
frozenlist
fsspec
idna
intel-openmp
jinja2
llvmlite
magic
mkl
more-itertools
mpmath
multidict
networkx
numba
numpy
openai-whisper
packaging
pillow
pydantic
pytesseract
regex
requests
sympy
tbb
tiktoken
torch
torchaudio
torchvision
tqdm
typing-extensions
urllib3
yarl